<nav>
    <a href="https://webpages.charlotte.edu/cearnha8/">Charlotte.edu</a>
    ||
    <a href="https://github.com/calebearnhardt/calebearnhardt.github.io">Github</a>
    ||
    <a href="https://calebearnhardt.github.io/itis3135">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/CalebEarnhardt">freeCodeCamp</a>
    ||
    <a href="https://www.codeacademy.com/profiles/CalebEarnhardt">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/caleb-earnhardt-087045326/">LinkedIn</a>
</nav>
<p>Page designed by <a href="https://webpages.charlotte.edu/cearnha8/designfirm/index.html" style="color: white;">Earnhardt Enterprises</a> Certified in <a href="https://www.freecodecamp.org/certification/CalebEarnhardt/responsive-web-design" style="color: white;">Responsive Web Design</a> &copy;2025</p>