<h1>Caleb Earnhardt's Chill Elephant ~ ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="/cearnha8/chillelephantsbar/index.html">Whimsical Company</a>
            ||
            <a href="/cearnha8/designfirm/index.html">Design Firm</a>
        </nav>
        <nav>
            <a href="stuff/My BaD & PaGe.HTM">Crappy Page</a>
        </nav>